/* Cores */
.text-444444 {
  color: #444444;
}
.text-FFFFFF {
  color: #FFFFFF;
}
.text-EFEFEF {
  color: #EFEFEF;
}
.text-090129 {
  color: #090129;
}
.text-FF55DF {
  color: #FF55DF;
}
.text-8FFF24 {
  color: #8FFF24;
}
.text-430091 {
  color: #430091;
}
.text-780BF7 {
  color: #780BF7;
}
.text-0B254B {
  color: #0B254B;
}

/* Tipografia */
.h1 {
  font: bold 76px/120% "Orbitron";
}
.h4 {
  font: bold 39px/120% "Orbitron";
}
.h5 {
  font: bold 34px/120% "Orbitron";
}
.h6 {
  font: bold 25px/120% "Orbitron";
}
.heading-semibold {
  font: 600 31px/150% "Poppins";
}
.body {
  font: normal 16px/120% "Poppins";
}
.body-large {
  font: normal 20px/120% "Poppins";
}
.body-large-bold {
  font: bold 20px/120% "Poppins";
}

/* Outros */
.container {
  max-width: 1440px;
  margin-inline: auto;
}
.flex {
  display: flex;
}
.flex-flow-col {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.gap-40 {
  gap: 40px;
}
.gap-48 {
  gap: 48px;
}
.gap-56 {
  gap: 56px;
}
.gap-80 {
  gap: 80px;
}
.pb-24 {
  padding-block: 24px;
}
.m-block {
  margin-block: 120px;
}

.grid {
  display: grid;
}
.grid-template-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-template-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.btn-primary {
  display: inline-block;
  background: #780BF7;
  border-radius: 32px;
  padding: 16px 34px;
  max-width: 268px;
}
.btn-primary:hover {
  background: #430091;
}