/* Cores */
.text-444444 {
  color: #444444;
}
.text-EFEFEF {
  color: #EFEFEF;
}
.text-090129 {
  color: #090129;
}
.text-FF55DF {
  color: #FF55DF;
}
.text-8FFF24 {
  color: #8FFF24;
}
.text-430091 {
  color: #430091;
}
.text-780BF7 {
  color: #780BF7;
}